@use '../base';

$canormal: 'CANormal', sans-serif;

$bold: 700;
$medium: 500;
$regular: 400;
$light: 300;
$heavy: 800;

$jaune: 48 100% 57%;
$violet: 254 47% 62%;
$rose: 347 100% 68%;
$orange: 15 82% 55%;
$grey-500: 0 0% 92%;
$grey-400: 0 0% 97%;
$grey-300: 0 22% 96%;
