@use '../abstract' as var;

.container {
  width: min(97%, 1856px);
  margin: auto;
  background: hsl(var.$jaune);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.2rem;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 9.5rem 4rem;

  @media screen and (max-width: 475px) {
    padding: 9.5rem 1rem;
  }
  @media screen and (max-width: 413px) {
    padding: 9.5rem 0rem;
  }

  #leftimage,
  #rightimage {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    margin-block: auto;
    height: 100%;
  }

  #leftimage {
    left: 0;

    @media screen and (max-width: 1097px) {
      left: -5em;
    }
    @media screen and (max-width: 875px) {
      left: -13em;
    }
    @media screen and (max-width: 528px) {
      left: -10em;
    }
    @media screen and (max-width: 425px) {
      left: -7em;
    }
  }
  #rightimage {
    right: 0;
    @media screen and (max-width: 1097px) {
      right: -5em;
    }
    @media screen and (max-width: 875px) {
      right: -13em;
    }
    @media screen and (max-width: 528px) {
      right: -10em;
    }
    @media screen and (max-width: 425px) {
      right: -7em;
    }
  }
}

.logo {
  position: absolute;
  right: 1em;
  top: 1.5em;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4.9rem;
  font-weight: var.$heavy;
  font-style: italic;
  text-transform: uppercase;
  width: fit-content;
  width: -moz-fit-content;
  transform: rotate(-3deg);
  text-align: center;
  span {
    background: white;
    box-shadow: -15px 15px 0px black;
    padding: 2.4rem 3rem;
    line-height: 3.5;
  }

  @media screen and (max-width: 1161px) {
    font-size: 4.2rem;
  }
  @media screen and (max-width: 1016px) {
    font-size: 3.9rem;
  }
  @media screen and (max-width: 954px) {
    font-size: 3.5rem;
  }
}

.competences {
  margin-top: 3.9rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  transform: rotate(-3deg);

  @media screen and (max-width: 875px) {
    flex-direction: column;
  }

  li:not(:last-of-type)::after {
    content: '-';
    margin-inline: 0.2em;
    @media screen and (max-width: 875px) {
      display: none;
    }
  }
}

.audit {
  background: black;
  color: white;
  font-size: 3rem;
  font-weight: var.$heavy;
  font-style: italic;
  margin-top: 6rem;
  margin-bottom: 4.1rem;
  background: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 3.6rem;
  border-radius: 40px;
  @media screen and (max-width: 572px) {
    font-size: 2.6rem;
  }
  @media screen and (max-width: 516px) {
    font-size: 2.3rem;
  }
}

header {
  p {
    font-size: 2.4rem;
    font-weight: var.$medium;
  }
}

.yellow {
  color: hsl(var.$jaune);
  font-weight: var.$heavy;
  font-style: italic;
}
