@use '../abstract' as var;

.container {
  width: min(97%, 1856px);
  margin: auto;
  background: hsl(var.$jaune);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 3.2rem;
}
